.ListShowcaseItem {
  break-inside: avoid;
  text-decoration: none;
  margin-bottom: 2rem;
  cursor: pointer;
  display: block;
}

.ListShowcaseItem__Content {
  border: solid 1px #ddd;
  box-shadow: 0 2px 3px -1px rgba(0,0,0,.2);
  padding: 1rem;
  pointer-events: none;
}
