.ListEditor {
  display: block;
}

.ListEditor__Todo {
  display: flex;
  padding: 0.5rem 0.5rem;
  flex-direction: row;
  align-items: center;
}

.ListEditor__Todo--New {
  border-bottom: solid 1px #bfbfbf;
  margin-bottom: 1rem;
}

.ListEditor__TodoInput {
  border: none;
  flex: 1 0 auto;
  margin-left: 0.75rem;
  outline: none;
  font-size: 1rem;
  height: 1.5rem;
}

.ListEditor__Todo--Completed .ListEditor__TodoInput {
  color: #717171;
  text-decoration: line-through;
}

.ListEditor__TitleInput {
  border: none;
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  height: 2rem;
  width: 100%;
  padding: 0;
  outline: none;
}

.ListEditor__Todo .Button {
  padding: 0;
  background: none;
  border: none;
  opacity: 0;
}

.ListEditor__Todo .Button .Icon {
  width: 0.85rem;
  height: 0.85rem;
}


.ListEditor__Todo:hover .Button {
  opacity: 1;
}

.ListEditor__Actions {
  margin-bottom: 1rem;
  justify-content: space-between;
  display: flex;
}

.ListEditor__Actions .Button {
  padding: 0;
  background: none;
  border: none;
  margin-left: 1rem;
}