.ListEditor {
  display: block;
}

.ListEditor__Todo {
  display: flex;
  margin-bottom: 0.25rem;
  flex-direction: row;
  align-items: center;
}

.ListEditor__TodoInput {
  border: none;
  width: 100%;
  margin-left: 0.5rem;
  outline: none;
  height: 1.5rem;
}

.ListEditor__Todo--Completed .ListEditor__TodoInput {
  color: #717171;
  text-decoration: line-through;
}

.ListEditor__TitleInput {
  border: none;
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  height: 2rem;
  width: 100%;
  padding: 0;
  margin-bottom: 1rem;
  outline: none;
}

.ListEditor__TodoNew,
.ListEditor__TodoCheckbox {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0;
  line-height: 1rem;
  text-align: center;
}

.ListEditor__TodoNew {
  font-weight: 700;
  font-size: 1.1rem;
  color: #757575;
}
